.box{
    width: 100%;
    max-width: 1000px;
    min-width: 90%;
    margin: 0 auto;
    display: block;
    min-height: 80px;
    max-height: 100px;
    height: 25px;
    opacity: 0.9;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1.1em;
    font-family: Poppins, 'Roboto Light', Roboto, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    box-sizing: border-box;
    &--bg-red{
        background-color: #e74c3c;
    }

    &--bg-green{
        background-color: #2ecc71;
    }

    &--bg-yellow{
        background-color: #ffd32a;
    }

    &__desc{
        text-align: center;
        margin-top: 0.9em;
        display: block;
    }
    cursor: pointer;

}